# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://ypynmbwkszeqklsfbwwu.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlweW5tYndrc3plcWtsc2Zid3d1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzQ1NTg2MjQsImV4cCI6MjA1MDEzNDYyNH0.B4pnya25tLteMwwwbsxrH2DXEkF413RnaD7vkSPC6Ts
NEXT_PUBLIC_SUPABASE_ID=ypynmbwkszeqklsfbwwu
SUPABASE_SERVICE_KEY=

# Resend
RESEND_API_KEY=
RESEND_AUDIENCE_ID=

# GoCardLess
GOCARDLESS_SECRET_ID=
GOCARDLESS_SECRET_KEY=

# Upstash
UPSTASH_REDIS_REST_URL=superb-aardvark-47885.upstash.iosuperb-aardvark-47885.upstash.io
UPSTASH_REDIS_REST_TOKEN=AbsNAAIjcDExMDNmNTlmZDkxMDA0ZDNkYWVmYzUxZTYxOTE1MjAwNXAxMA

# Novu
NOVU_API_KEY=

# Trigger
TRIGGER_SECRET_KEY=
TRIGGER_PROJECT_ID=

# Dub
DUB_API_KEY=

# Teller (Base 64 encoded certificate)
TELLER_CERTIFICATE=
TELLER_CERTIFICATE_PRIVATE_KEY=
NEXT_PUBLIC_TELLER_APPLICATION_ID=
NEXT_PUBLIC_TELLER_ENVIRONMENT=
TELLER_SIGNING_SECRET=

# Plaid
PLAID_CLIENT_ID=
PLAID_SECRET=
NEXT_PUBLIC_PLAID_ENVIRONMENT=

# Github
GITHUB_TOKEN=

#Novu
NEXT_PUBLIC_NOVU_APPLICATION_IDENTIFIER=

# Plain
PLAIN_API_KEY=

# OpenAI
OPENAI_API_KEY=

# Mistral AI
MISTRAL_API_KEY=

# OpenPanel
NEXT_PUBLIC_OPENPANEL_CLIENT_ID=
OPENPANEL_SECRET_KEY=

# Webhook
WEBHOOK_SECRET_KEY=6c369443-1a88-444e-b459-7e662c1fff9e

# Sentry
SENTRY_AUTH_TOKEN=
NEXT_PUBLIC_SENTRY_DSN=
SENTRY_ORG=
SENTRY_PROJECT=

# Engine
MIDDAY_ENGINE_API_KEY=secret
NEXT_PUBLIC_ENGINE_API_URL=http://localhost:3002

# Azure
AZURE_DOCUMENT_INTELLIGENCE_ENDPOINT=
AZURE_DOCUMENT_INTELLIGENCE_KEY=

# Google Maps
NEXT_PUBLIC_GOOGLE_API_KEY=

# VatCheckAPI
VATCHECKAPI_API_KEY=

# Invoice
INVOICE_JWT_SECRET=secret

# Midday Cache
MIDDAY_CACHE_API_SECRET=




API_URL=http://127.0.0.1:54321
GraphQL_URL=http://127.0.0.1:54321/graphql/v1
S3_Storage_URL=http://127.0.0.1:54321/storage/v1/s3
DB_URL=postgresql://postgres:postgres@127.0.0.1:54322/postgres
Studio_URL=http://127.0.0.1:54323
Inbucket_URL=http://127.0.0.1:54324
JWT_secret=super-secret-jwt-token-with-at-least-32-characters-long
anon_key=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZS1kZW1vIiwicm9sZSI6ImFub24iLCJleHAiOjE5ODM4MTI5OTZ9.CRXP1A7WOeoJeXxjNni43kdQwgnWNReilDMblYTn_I0
service_role_key= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZS1kZW1vIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImV4cCI6MTk4MzgxMjk5Nn0.EGIM96RAZx35lJzdJsyH-qQwv8Hdp7fsn3W0YpN81IU
S3_Secret_Key= 850181e4652dd023b7a98c58ae0d2d34bd487ee0cc3254aed6eda37307425907
S3_Region= local
